html {
  scroll-behavior: smooth;
}

div {
  text-align: center;
  font-family: 'Averia Serif Libre', cursive;
}

button {
  font-family: 'Averia Serif Libre', cursive;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-button {
  margin: 8px;
  font-size: .8em;
  font-weight: bold;
  background: none;
}

.nav-bar {
  margin: 10px;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  filter: brightness(100%);
}

.product-container {
  width: 100%;
  margin: 20px;
}

.product-container img {
  height: 150px;
}


.full-section {
  background-color: white;
  /* filter: brightness(50%); */
  /* opacity: .8; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #282c34;
  min-height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Averia Serif Libre', cursive;
  color: black;
}